flows.json
[{"id":"ed7b0de0.59b89","type":"tab","label":"ChatbotNidhi","disabled":false,"info":""},{"id":"99e2690.3c0ab98","type":"ui_form","z":"ed7b0de0.59b89","name":"","label":"","group":"c534262d.e64238","order":3,"width":0,"height":0,"options":[{"label":"Enter your input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":175,"y":280,"wires":[["b3da17c4.43fb08"]],"l":false},{"id":"b3da17c4.43fb08","type":"function","z":"ed7b0de0.59b89","name":"Input parsing","func":"msg.payload= msg.payload.Input;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["a8fd6313.6c941","49b73218.38a41c"]],"l":false},{"id":"a8fd6313.6c941","type":"ui_text","z":"ed7b0de0.59b89","group":"c534262d.e64238","order":4,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":340,"wires":[],"l":false},{"id":"49b73218.38a41c","type":"watson-conversation-v1","z":"ed7b0de0.59b89","name":"Restaurant Bot","workspaceid":"8c002ce2-109b-4f08-8744-006f87af09c7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fb2732c9-6a9b-4e54-b564-7930eeafb2e2","timeout":"","optout-learning":false,"x":430,"y":200,"wires":[["684790b9.93192","17b446f8.c313b9"]],"l":false},{"id":"684790b9.93192","type":"debug","z":"ed7b0de0.59b89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":340,"wires":[],"l":false},{"id":"17b446f8.c313b9","type":"function","z":"ed7b0de0.59b89","name":"Output parsing","func":"if(msg.payload.output.generic[0].response_type==\"Image\"){\n    msg.url=\"http://i.xp.io/cXpvv0U.jpg\"\n    msg.payload=msg.payload.output.generic[0].title +\"\\n\" +msg.payload.output.generic[0].description\n}\nelse{\n    msg.payload=msg.payload.output.generic[0].text\n    msg.url=\"http://i.xp.io/idOHwDj.jpg\"\n}  \nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":200,"wires":[["9b07fbc0.608538","cf212c2e.7f87e","72bd4baa.892f14"]],"l":false},{"id":"9b07fbc0.608538","type":"ui_text","z":"ed7b0de0.59b89","group":"c534262d.e64238","order":6,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":240,"wires":[],"l":false},{"id":"cf212c2e.7f87e","type":"ui_template","z":"ed7b0de0.59b89","group":"c534262d.e64238","name":"","order":7,"width":"6","height":"6","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":160,"wires":[[]],"l":false},{"id":"72bd4baa.892f14","type":"ui_audio","z":"ed7b0de0.59b89","name":"","group":"c534262d.e64238","voice":"en-US","always":"","x":720,"y":300,"wires":[],"l":false},{"id":"c534262d.e64238","type":"ui_group","z":"","name":"Restaurant Bot","tab":"a30f540b.eb6948","order":1,"disp":true,"width":"6","collapse":false},{"id":"a30f540b.eb6948","type":"ui_tab","z":"","name":"Chatbot","icon":"Dashboard","disabled":false,"hidden":false}]